.formBox {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

h2 {
  letter-spacing: 3px;
}

.inputTitle {
  display: inline-block;
  width: 105px;
  max-lines: 1;
  text-align: right;
  margin-right: 15px;
}

.inputSection:nth-child(2) {
  margin-top: 50px;
}
.inputSection {
  margin-top: 20px;
  position: relative;
}

.inputValue {
  width: 250px;
  height: 25px;
  border-radius: 70px;
  border: 1px solid gray;
  padding: 10px 20px;
  position: relative;
}

.inputValue:hover {
  outline: 1px solid #ababab;
}

.inputValue:focus {
  outline: 1px solid black;
}

.btnGroup {
  margin-left: 100px;
}
.RegisterBtn {
  width: 350px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 16px;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-left: 60px;
}

.RegisterBtn:hover {
  background-color: #3e3e3e;
}

.cancleBtn {
  width: 350px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 16px;
  letter-spacing: 5px;
  margin-left: 60px;
}

.cancleBtn:hover {
  background-color: #fcfcfc;
}

.accountOptionsBox {
  margin-top: 50px;
}
.accountOptions {
  font-size: 14px;
  margin: 0px 30px;
  cursor: pointer;
}

.accountOptions:hover {
  color: gray;
}

.AuthPhone {
  width: 60px;
  height: 35px;
  position: absolute;
  color: white;
  background-color: black;
  border: 0px;
  top: 6px;
  right: 55px;
  border-radius: 70px;
  cursor: pointer;
}

.AuthPhone:hover {
  background-color: #3e3e3e;
}
