.header__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

.header__right:not(.userToggled) {
  display: none;
}

.header__menulist {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

.header__menulist:not(.isToggled) {
  display: none;
}

.header {
  /* float: left;
    display: flex;
    justify-content: center; */
  display: flex;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  margin: 5px;
  top: 0;
  right: 0;
  left: 0;
  /* position: fixed; */
}
.header__menulist {
  list-style: none;
  display: flex;
}
.title {
  margin: 3px;
  font-weight: 500;
  font-size: 2rem;
  align-items: center;
}
.titleContainer {
  display: grid;
  /* align-items: center;  */
}
.footer {
  display: grid;
  background-color: rgb(166, 166, 166);
  /* justify-content: space-between; */
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* .footerimage {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 0 auto;
    padding: 10;
  } */

.footerimage {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px; /* 각 이미지들 사이에 10px의 간격을 줍니다. */
  margin: 0 auto;
  padding: 10px; /* 수정: 10px로 패딩을 주세요. */
}
/* menu나 user 클릭시 포인터 */
.imageContainer {
  cursor: pointer;
}
/* 메뉴바 스타일 */
/* .menuBar {
    height: 100px;
    width: 300px;
    background-color: #f0f0f0;
    /* ... */

/* 초기에는 숨김
    transform: translateX(-300px);
    transition: transform 0.3s ease; */
/* } */

.menuContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  bottom: 0;
  width: 25%; /* 슬라이드할 화면의 너비를 조절합니다. */
  background-color: #f0f0f0;
  /* ... */

  /* 초기에는 숨김 */
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.slideIn {
  /* 메뉴바를 보이게 하기 위해 X축으로 100%만큼 이동시킴 */
  transform: translateY(0);
}

/* 드롭다운때매 추가 */
.contents {
  width: 100%;
  height: 1000px;
  background-color: blanchedalmond;
}

.nav {
  height: 80px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.nav:hover {
  height: 200px;
  cursor: pointer;
}

.nav .navContainer {
  height: 80px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.nav .navContainer .active {
  background-color: rgb(3, 51, 90);
  color: white;
}

.nav .navContainer .none {
  background-color: none;
}

.nav .navContainer li {
  width: 200px;
  height: 100%;
  list-style-type: none;
  font-size: 19px;
  color: rgb(3, 51, 90);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .navContainer li p {
  margin: 0;
}

.nav .detailMenu {
  display: flex;
  overflow: hidden;
}

.nav .detailMenu ul {
  width: 200px;
  margin: auto;
  justify-content: space-around;
  padding: 0;
}

.nav .detailMenu ul li {
  text-align: center;
  list-style-type: none;
  margin-bottom: 10px;
  color: rgb(7, 7, 105);
  font-weight: 600;
}
.nav .detailMenu ul li:hover {
  cursor: pointer;
  background-color: rgb(198, 198, 241);
}
